###########################
# ignore generated binaries
# but not the data folder
###########################
*/.vs/*
*/bin/*
!*/bin/data/

#########
# general
#########

*/[Bb]uild/
*/[Oo]bj/
*.o
*.pdb
*/[Dd]ebug*/
*/[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.ilk
.VC
########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

##################
# operating system
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
WaveForm/WaveForm/bin/innoscript.iss
WaveForm/WaveForm/bin/WaveForm.exe
WaveForm/WaveForm/bin/WaveForm.exp
WaveForm/WaveForm/bin/WaveForm.lib
WaveForm/WaveForm/bin/WaveForm_debug.exe
WaveForm/WaveForm/obj/Debug/DrawType.obj
WaveForm/WaveForm/obj/Debug/main.obj
WaveForm/WaveForm/obj/Debug/ofApp.obj
WaveForm/WaveForm/obj/Debug/WaveForm.tlog/CL.read.1.tlog
WaveForm/WaveForm/obj/Debug/WaveForm.tlog/CL.write.1.tlog
WaveForm/WaveForm/obj/Debug/WaveForm.tlog/WaveForm.write.1u.tlog
WaveForm/WaveForm/obj/Release/DrawType.obj
WaveForm/WaveForm/obj/Release/icon.res
WaveForm/WaveForm/obj/Release/main.obj
WaveForm/WaveForm/obj/Release/ofApp.obj
WaveForm/WaveForm/obj/Release/ofxBaseGui.obj
WaveForm/WaveForm/obj/Release/ofxButton.obj
WaveForm/WaveForm/obj/Release/ofxColorPicker.obj
WaveForm/WaveForm/obj/Release/ofxCvColorImage.obj
WaveForm/WaveForm/obj/Release/ofxCvContourFinder.obj
WaveForm/WaveForm/obj/Release/ofxCvFloatImage.obj
WaveForm/WaveForm/obj/Release/ofxCvGrayscaleImage.obj
WaveForm/WaveForm/obj/Release/ofxCvHaarFinder.obj
WaveForm/WaveForm/obj/Release/ofxCvImage.obj
WaveForm/WaveForm/obj/Release/ofxCvShortImage.obj
WaveForm/WaveForm/obj/Release/ofxGuiGroup.obj
WaveForm/WaveForm/obj/Release/ofxInputField.obj
WaveForm/WaveForm/obj/Release/ofxLabel.obj
WaveForm/WaveForm/obj/Release/ofxPanel.obj
WaveForm/WaveForm/obj/Release/ofxSlider.obj
WaveForm/WaveForm/obj/Release/ofxSliderGroup.obj
WaveForm/WaveForm/obj/Release/ofxToggle.obj
WaveForm/WaveForm/obj/Release/WaveForm.tlog/CL.command.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/CL.read.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/CL.write.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/link.command.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/link.read.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/link.write.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/rc.command.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/rc.read.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/rc.write.1.tlog
WaveForm/WaveForm/obj/Release/WaveForm.tlog/WaveForm.lastbuildstate
WaveForm/WaveForm/obj/Release/WaveForm.tlog/WaveForm.write.1u.tlog
WaveForm/WaveForm/WaveForm.vcxproj
WaveForm/WaveForm/WaveForm.vcxproj.filters
WaveForm/WaveForm/WaveFormSetup.exe
WaveForm/WaveForm/obj/Debug/WaveForm.tlog/WaveForm.write.1u.tlog
